In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def etoro_profile(expenses, total_invested = 8168.48, net_amount = 5802.12, liquid_amount = 5096.44):
    """Etoro Profile Profit Recovery Analysis"""
    cols = ['Total Invested', 'Liquid Amount', 'Net Amount', 'Profit/Loss', 
            'Profit/Loss %', 'Further Expenses']
    
    diff = total_invested - liquid_amount
    pcg = liquid_amount / total_invested 

    loan = sum(expenses)
    
    data = [[total_invested, net_amount, liquid_amount, diff, pcg*100, loan]]
    df = pd.DataFrame(data, columns = cols)
    
    return df

In [3]:
expenses = [500, 1500, 1500, 285, 500, 500, 285, 305, 300, 300, 500, 70]
df = etoro_profile(expenses)
df

,Total Invested,Liquid Amount,Net Amount,Profit/Loss,Profit/Loss %,Further Expenses
0,8168.48,5802.12,5096.44,3072.04,62.391534,6545

In [ ]:
def salary_tax_calculator(pay):
    """Tax calculation on salary as per Irish laws"""
    tax_bracket = [35300 * 0.8, (pay - 35300) * 0.6] # 20% tax on 35,300 euros & 40% tax on remaining income
    
    tax_credits = 1650 + 1650 # pesonal tax credits exemption
    
    PRSI = pay*4/100 # Pay Related Social Insurance (PRSI) @ 4%
    
    def get_USC_rates():
        url = 'https://www.citizensinformation.ie/en/money_and_tax/tax/income_tax/universal_social_charge.html'
        df = pd.read_html(url)[0]
        USC_rate = df['Rate'].apply(lambda x: float(x.strip('%'))/100)
        #USC_lim = df['Income band'].str.extract('([\d]+[.,\d]+|[\d]*[.][\d]+|[\d]+)')

        return USC_rate
    
    USC_rate = get_USC_rates() # USC_rate = [0.5, 2, 4.5, 8]
    USC_lim = [12012, 20687, 70044]
    #USC_lim = int (USC_lim)
    
    if pay > USC_lim[2]:
        USC_tax = (USC_lim[2]-USC_lim[1])*USC_rate[2] + (pay-USC_lim[2])*USC_rate[3]
    else: 
        USC_tax = (pay-USC_lim[1])*USC_rate[2]
    
    USC	 = USC_lim[0]*USC_rate[0] + (USC_lim[1]-USC_lim[0])*USC_rate[1] + USC_tax # universal_social_charge
    
    income_after_tax = sum(tax_bracket) + tax_credits - PRSI - USC
    
    return income_after_tax

In [5]:
pay = 81000
salary_tax_calculator(pay)

52388.895

In [6]:
def pay_distribution(expense=35, pay=69000, marginal_tax_rate=48.5/100):
    """Distribute pay to analyze the savings"""
    dist = pd.Series([2.5, 22, expense, 100-2.5-22-expense])
    
    cols = ['Applicable %', 'Amount/month', 'Annual']
    index = ['ALLAH’s Share', 'Parents Share', 'Expenditures', 'Savings']

    net_income = salary_tax_calculator(pay) + 12000*(1-marginal_tax_rate)
    amount = dist/100 * net_income/12
    
    data = [[dist[i], amount[i], amount[i]*12] for i in range(len(amount))]

    df = pd.DataFrame(data, columns = cols, index = index, dtype=object)
    
    return df

In [7]:
data = pay_distribution(40)
data

              Applicable % Amount/month   Annual
ALLAH’s Share          2.5      109.942  1319.31
Parents Share           22      967.493  11609.9
Expenditures            40      1759.08  21108.9
Savings               35.5      1561.18  18734.2

In [8]:
def get_balance(marginal_tax_rate, sign_bonus = 12000, relocation = 6680, society = 1950 + 300):
    """Calculate Income After Bonus Taxation"""
    return sign_bonus*(1 - marginal_tax_rate) + relocation + society

In [9]:
marginal_tax_rate = 48.5/100
balance = get_balance(marginal_tax_rate)
balance

15110.0

In [10]:
url = 'https://www.citizensinformation.ie/en/money_and_tax/tax/income_tax/universal_social_charge.html'
df = pd.read_html(url, header=None)[0]

In [11]:
x = df['Income band'].str.extract('([\d]+[.,\d]+|[\d]*[.][\d]+|[\d]+)')

In [15]:
fg = x.values.flatten().tolist()
fg

['12,012', '12,012.01', '20,687', '70,044.01', '100,000']