In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
def etoro_profile(expenses, total_invested = 8168.48, net_amount = 5802.12, liquid_amount = 5096.44):
    """Etoro Profile Profit Recovery Analysis"""
    cols = ['Total Invested', 'Liquid Amount', 'Net Amount', 'Profit/Loss', 
            'Profit/Loss %', 'Further Expenses']
    
    diff = total_invested - liquid_amount
    pcg = liquid_amount / total_invested 

    loan = sum(expenses)
    
    data = [[total_invested, net_amount, liquid_amount, diff, pcg*100, loan]]
    df = pd.DataFrame(data, columns = cols)
    
    return df

In [15]:
expenses = [500, 1500, 1500, 285, 500, 500, 285, 305, 300, 300, 500, 70]
etoro_profile(expenses)

,Total Invested,Liquid Amount,Net Amount,Profit/Loss,Profit/Loss %,Further Expenses
0,8168.48,5802.12,5096.44,3072.04,62.391534,6545

In [16]:
def pay_distribution(expense=35, pay=69000, marginal_tax_rate=48.5/100):
    """Distribute pay to analyze the savings"""
    dist = pd.Series([2.5, 22, expense, 100-2.5-22-expense])
    
    cols = ['Applicable %', 'Amount/month', 'Annual']
    index = ['ALLAH’s Share', 'Parents Share', 'Expenditures', 'Savings']

    net_income = salary_tax_calculator(pay) + 12000*(1-marginal_tax_rate)
    amount = dist/100 * net_income/12
    
    data = [[dist[i], amount[i], amount[i]*12] for i in range(len(amount))]

    df = pd.DataFrame(data, columns = cols, index = index, dtype=object)
    
    return df

In [17]:
pay_distribution(40)

              Applicable % Amount/month   Annual
ALLAH’s Share          2.5      109.942  1319.31
Parents Share           22      967.493  11609.9
Expenditures            40      1759.08  21108.9
Savings               35.5      1561.18  18734.2

In [18]:
def get_balance(marginal_tax_rate, sign_bonus = 12000, relocation = 6680, society = 1950 + 300):
    """Calculate Income After Bonus Taxation"""
    return sign_bonus*(1 - marginal_tax_rate) + relocation + society

In [19]:
marginal_tax_rate = 48.5/100
balance = get_balance(marginal_tax_rate)
balance

15110.0

In [23]:
url = 'https://www.citizensinformation.ie/en/money_and_tax/tax/income_tax/universal_social_charge.html'
df = pd.read_html(url, header=None)[0]
df

   Rate                         Income band
0  0.5%                       Up to €12,012
1    2%          From €12,012.01 to €20,687
2  4.5%             From €20,687 to €70,044
3    8%            From €70,044.01 and over
4   11%  Self-employed income over €100,000

In [24]:
x = df['Income band'].str.extract('([\d]+[.,\d]+|[\d]*[.][\d]+|[\d]+)')
x

           0
0     12,012
1  12,012.01
2     20,687
3  70,044.01
4    100,000

In [22]:
fg = x.values.flatten().tolist()
fg

['12,012', '12,012.01', '20,687', '70,044.01', '100,000']